// Initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
$body-size: 10px;

$black: #071f32;
$grey-darker: #1f3445;
$grey-dark: #6a7884;
$grey-medium: rgba(53,75,207,.3);
$grey: #f2f2f2;
$white: #ffffff;
$blue: #354bcf;
$red: #e8404e;

$link: $red;
$primary: $blue;
$background: $white;

$size-1: 4.2rem;
$size-2: 3.1rem;
$size-3: 2.2rem;
$size-4: 1.8rem;
$size-5: 1.5rem;
$size-6: 1.3rem;
$size-7: 1rem;

$size-large: $size-3;
$size-medium: $size-4;
$size-normal: $size-5;
$size-small: $size-7;

$weight-bold: 900;
$weight-semibold: 700;
$weight-medium: 600;
$weight-normal: 400;
$weight-light: 300;

$gap: 45px;

$radius: 0px;
$radius-small: 0px;
$radius-large: 0px;

$border: $grey;
$text: $black;
$text-strong: $black;

$family-sans-serif: "Montserrat", "Arial", sans-serif;

// Box
$box-shadow: 12px 12px $grey;

// Buttons
$button-padding-vertical: 1em;
$button-padding-horizontal: 1.25em;
$button-border-color: transparent;

// Icons
$icon-dimensions: $size-5;
$icon-dimensions-small: $size-7;
$icon-dimensions-medium: $size-3;
$icon-dimensions-large: $size-2;

// Title
$title-weight: $weight-bold;
$subtitle-weight: $weight-bold;
$title-family: "Montserrat";
$subtitle-weight: "Montserrat";
$subtitle-color: $link;

// Spacing
$spacing-values: ("medium": 2rem, "large": 4rem);

// Menu
$menu-label-color: $black;
$menu-item-hover-color: $link;
$menu-label-font-size: 1em;
$menu-label-letter-spacing: 0;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

/* Overrides */
// Title
.content .title {
  &.is-2 {
    margin: 6rem 0 3rem;
  }

  &.is-3 {
    margin: 3rem 0;
  }

  &.is-2:after, &.is-3:before {
  	background: $grey;
  	content: "";
  	display: block;
  	height: .6rem;
  	width: 100%;
  }

  &.is-2:after {
    margin-top: 1.2rem;
  }

  &.is-3:before {
    margin-bottom: 2rem;
  }

  &.is-2 + .is-3:before {
    display: none;
  }
}

// Button
.button {
  &.button-icon.is-rounded {
    width: 1.5em;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }

  &.is-light.is-link {
    background-color: $grey;
    color: $grey-darker;
    transition: background-color .2s ease;

    &:hover {
      background-color: $link;
      color: white;
      transition: background-color .2s ease;
    }
  }
  @each $name, $pair in $button-colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-light.is-#{name} {
      background-color: $grey-dark;
      color: $grey-darker;

      &:hover,
      &.is-hovered {
        background-color: $color;
        border-color: transparent;
        color: $color-invert;
      }
    }
  }
}
// Tags
.tag:not(body) {
  padding: 1.5em;
  text-transform: uppercase;
}

// Menu
.menu-label {
  text-transform: none;
  font-weight: $weight-medium;
}

// Block
.block {
  padding: 1rem;
  border-left: .1rem solid rgba(7,31,50,.15);

  span {
    margin-left: .5em;
  }
}

// General list
.content ul {
  list-style: none;
  margin: 0;
}

li {
  position: relative;
  margin-left: 2.9rem;
  margin-bottom: .6rem;

  &:before {
  	background-color: #071f32;
  	border-radius: 50%;
  	content: "";
  	display: block;
  	font-size: 0.5em;
  	height: 1em;
  	left: -2.9rem;
  	position: absolute;
  	top: 1.75em;
  	width: 1em;
  }
}
